// 1. Configuration and helpers
@use 'base/variables';
@use 'base/mixins';

// 2. Base styles
@use 'base/base';
@use 'components/App';

// 3. Layout styles
@use 'components/MainLayout.scss';

// 4. Page styles
@use 'components/Login.scss';
@use 'components/Dashboard.scss';
@use 'components/Users.scss';
@use 'components/UserDetails.scss';