@use 'variables' as *;
@use 'mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
	font-family: 'Avenir Next';
	src: url('/fonts/AvenirNextRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('/fonts/AvenirNextDemi.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('/fonts/AvenirNextBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

// Reset default margins and padding for text elements
h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, blockquote, dl, dd {
	margin: 0;
	padding: 0;
}

:root {
	font-family: $font-family;
	line-height: $line-height;
	font-weight: $font-weight-normal;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	color: #333;
	background-color: #f5f5f5;
}
